<h2><%= document['LayerDisplayName'] %></h2>
<!-- <%=local_assigns%> -->

<div class="">
	<dl class="dl-horizontal">
		<dt>Data type</dt>
		<dd><%= document['DataType'] %></dd>
		<dt>Publisher</dt>
		<dd><%= document['Publisher'] %></dd>
		<dt>Access</dt>
		<dd><%= document['Access'].titlecase %></dd>
		<dt>Availability</dt>
		<dd><%= document['Availability'].titlecase %></dd>
		<dt>Date</dt>
		<dd><%= Date.parse(document['ContentDate']).to_formatted_s(:number).slice(0,4) %></dd>
		<dt>Institution</dt>
		<dd><%= document['Institution'] %></dd>
		<dt>Abstract</dt>
		<dd id=""><%= abstract_truncator(document['Abstract']) %></dd>
	</dl>
</div>
<!-- <div>
	<%= render 'placename_tags', :keywords => document['PlaceKeywords'] %>
</div>
<div>
	<%= render 'themename_tags', :keywords => document['ThemeKeywords'] %>
</div> -->
